.more_news_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #0053D6;
    border-radius: 100%;
    color: white;
    padding: 15px;
}
.more_news_circle:last-child{
    margin-right: 0px;
}
.learnmore{
    gap: 0.5rem;
}
.container{
    width: 100%;
    padding: 0 4rem;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
        font-family: 'Newsreader', serif;
        font-size: 56px;
}
.circle_container{
    display: flex;
}
.learnmore{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_container{
    color: white;
    margin: 20px;
    /* width: 358px;
    height: 358px; */
    /* object-fit: cover;
    object-position: center; */
}
/* .img{
    width: 100%;
} */
.img{
    width: 250;
    height: 250;
    object-fit: contain;
}

@media (max-width: 1220px) {
    .title{
        font-size: 40px;
    }
}

@media (max-width: 1024px) {
}

@media (max-width: 930px) {
    .container{
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
}


@media (max-width: 550px) {
    .title{
        font-size: 35px;
    }
}