.more_news_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #0053D6;
    border-radius: 100%;
    margin-right: 0.7rem;
    color: white;
}
.more_news_circle:last-child{
    margin-right: 0px;
}
.container{
    width: 100%;
    padding: 0 4rem;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
        font-family: 'Newsreader', serif;
        font-size: 56px;
}
.circle_container{
    display: flex;
}
.learnmore{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1,.card2,.card3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 336px; */
    border-bottom: 2px solid black;
    /* margin-right: 5rem; */
    height: auto;
    /* margin-bottom: 3rem; */
}
.card1{
    border-bottom: 4px solid #26B567;
}
.card2{
    border-bottom: 4px solid #FED130;
}
.card3{
    border-bottom: 4px solid #D248AC;
}
.card3{
    margin-right: 0px;
}
.bullet{
    font-size: 5rem;
color: #BABABA;
}
.logo_container{
    display: flex;
    align-items: center;
}
.logo{
    width: 173.21px;
    height: 60.21px;
    margin-bottom: 1rem;
}
.description{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 3rem;
    line-height: 1.6rem;
}
@media (max-width: 1220px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 930px) {
    .container{
        padding: 0 2rem;
    }
}

@media (max-width: 768px) {
}


@media (max-width: 450px) {
    .card1,.card2,.card3{
        padding: 0 3rem;
    }
}