.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    padding: 0 4rem;
    height: auto;
}
.card_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card1,.card2,.card3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 336px;
    border-bottom: 2px solid black;
    margin-right: 5rem;
    height: auto;
    margin-bottom: 3rem;
}
.card1{
    border-bottom: 4px solid #26B567;
}
.card2{
    border-bottom: 4px solid #FED130;
}
.card3{
    border-bottom: 4px solid #D248AC;
}
.card3{
    margin-right: 0px;
}
.bullet{
    font-size: 5rem;
color: #BABABA;
}
.logo_container{
    display: flex;
    align-items: center;
}
.logo{
    width: 173.21px;
    height: 60.21px;
    margin-bottom: 1rem;
}
.para{
    margin:0px ;
}
.title{
    font-family: 'Newsreader', serif;
    font-size: 56px;
    margin-bottom: 3rem;
}
.description{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 3rem;
    line-height: 1.6rem;
}

@media (max-width: 1220px) {
    .card2{
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
    .card1{
        margin-right: 0%;
    }
}

@media (max-width: 768px) {
    .container{
        padding: 0 2rem;
    }
}

@media (max-width: 550px) {
}