.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0 4rem;
}
.card_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card1,.card2,.card3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    border-bottom: 2px solid black;
    margin-right: 5rem;
    height: auto;
}
.card1{
    border-bottom: 4px solid #26B567;
}
.card2{
    border-bottom: 4px solid #FED130;
}
.card3{
    border-bottom: 4px solid #D248AC;
}
.bullet{
    font-size: 5rem;
color: #BABABA;
}
.logo_container{
    display: flex;
    align-items: center;
}
.logo{
    width: 173.21px;
    height: 60.21px;
    margin-bottom: 1rem;
}
.para{
    margin:0px ;
}
.title{
    font-family: 'Newsreader', serif;
    font-size: 56px;
    margin-bottom: 3rem;
}
.description{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 3rem;
    line-height: 1.6rem;
}
