.more_news_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #0053D6;
    border-radius: 100%;
    color: white;
}
.learnmore{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.mntext{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
margin-right: 1rem;
}