.container{
    display: flex;
    justify-content:space-between;
    background: #F3FEFF;
    width: 100%;
    padding: 5rem 4rem 2rem 4rem;
}
.left{
    width: 30%;
    color: rgba(0, 0, 0, 0.7);
}
.right{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.part1,.part2{
    list-style: none;
    margin-right: 1rem;
}
.logo{
    width: 173.21px;
    height: 60.21px;
}
.ul{
    list-style: none;
    padding: 0px;
}
.logo_desc{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}
.heading{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}
.ul{
    
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
color: rgba(0, 0, 0, 0.7);
}