.container{
    display: flex;
    justify-content:space-between;
    background: #F3FEFF;
    width: 100%;
    padding: 5rem 4rem 2rem 4rem;
}
.left{
    width: 30%;
    color: rgba(0, 0, 0, 0.7);
}
.right{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.part1,.part2{
    list-style: none;
    margin-right: 1rem;
}
.logo{
    width: 173.21px;
    height: 60.21px;
}
.ul{
    list-style: none;
    padding: 0px;
}
.logo_desc{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}
.heading{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}
.ul{
    
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
color: rgba(0, 0, 0, 0.7);
}
.li{
    cursor: pointer;
    margin-bottom: 0.5rem;
}
.social_media_icon{
    margin-left: 1rem;
}

@media (max-width: 1220px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
    .container{
        padding: 2rem 2rem;
    }
}

@media (max-width: 768px) {
    .container{
    height: auto;
    flex-direction: column;
    align-items: center;
    }
    .left{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    }
    .right{
        width: 100%;
flex-direction: column;
align-items: center;
    }
    .ul{
        display: flex;

    }
    .part1,.part2{
        margin-right: 0rem;
        text-align: center;
    }
    .part3{
        text-align: center;
    }
    .li{
        margin: 0 0.5rem;
    }
}


@media (max-width: 550px) {
}