.container{
    display: flex;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
    padding: 0 3rem;
    height: auto;
    flex-wrap: wrap;
    /* margin-bottom: var(--div-margin);
    color: var(--div-color); */
}
.card1,.card2,.card3{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 5rem;
    height: auto;
    width: 336px;
    margin-bottom: 3rem;

}
.card1{
    border-bottom: 4px solid #26B567;
}
.card2{
    border-bottom: 4px solid #FED130;
}
.card3{
    border-bottom: 4px solid #D248AC;
}
.card3{
    margin-right: 0px;
}
.bullet{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 40px;
    height: 40px;
    background: #0053D6;
    border-radius: 100%;
    color: white;
    font-family: 'Newsreader', serif;
    font-size: 18px;
    margin-bottom: 2rem;
}
.title{
    font-family: 'Newsreader', serif;
    font-size: 40px;
    margin-bottom: 1rem;
}
.description{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4rem;
}
.manager{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: black;
    margin-bottom: 0.5rem;
}
.description ul{
    list-style: circle;
}
@media (max-width: 1220px) {
    .card2{
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    
}

@media (max-width: 900px) {
    .card1{
        margin-right: 0%;
    }
}

@media (max-width: 768px) {
    .container{
        padding: 0 2rem;
    }
}


@media (max-width: 550px) {
    .title{
        font-size: 35px;
    }
}