.navbar_container {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  padding: 0 4rem;
}
.navbar_container ul li {
  height: 2rem;
}
.navbar_container ul li:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.6);
}
.logo_container {
  display: flex;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}
.logo {
  height: 64.21px;
  object-fit: cover;
}
.ul {
  display: flex;
  list-style: none;
  left: 0%;
}
.li {
  margin-left: 1rem;
  margin-bottom: 0px;
  cursor: pointer;
}
.dropdown_services_mob {
  display: none;
  /* padding-left: 1rem; */
  margin-top: 1rem;
}
.dropdown_services_ul {
  position: absolute;
  background-color: white;
  width: 15rem;
  background: #ffffff;
  box-shadow: 0px 12px 39px -2px rgba(119, 119, 119, 0.11);
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 1rem;
  -webkit-animation: fadein 0.3s ease-in;
  -moz-animation: fadein 0.3s ease-in;
  animation: fadein 0.3s ease-in;
  z-index: 200;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.para {
  margin: 0px;
}
.header {
  display: none;
}
.close {
  display: none;
}
.services_li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.down_arrow_mob {
  display: none;
}
.toggleLiMob {
  display: none;
}
@media (max-width: 1220px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
  .navbar_container ul li {
    height: auto;
  }
  .dropdown_services {
    display: none;
  }
  .dropdown_services_mob {
    display: block;
  }
  .close {
    display: block;
  }
  .ul {
    /* display: none; */
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    flex-direction: column;
    padding: 0 2rem;
    z-index: 1000;
    background: white;
    margin: 0px;
    transition: all 0.5s ease;
  }
  .down_arrow_mob {
    display: inline-flex;
  }
  .down_arrow {
    display: none;
  }
  .services_li {
    display: flex;
    justify-content: space-between;
  }
  /* .services{
    margin-right: 0.5rem;
  } */
  .navbar_container {
    padding: 0 2rem;
  }
  .header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
  }
  .li {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-left: 0px;
  }
  .toggleLi {
    display: none;
  }
  .toggleLiMob {
    display: block;
  }
}

@media (max-width: 550px) {
}
