
.navbar_container{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}
.logo_container{
    display: flex;
    align-items: center;
}
.logo{
    width: 173.21px;
    height: 60.21px;
}
.ul{
    display: flex;
    list-style: none;
}
.li{
    margin-left: 1rem;
    margin-bottom: 0px;
}
.para{
    margin:0px ;
}