.navbar_container {
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  padding: 0 4rem;
}
.logo_container {
  display: flex;
  align-items: center;
  z-index: 1000;
}
.logo {
  width: 173.21px;
  height: 60.21px;
}
.ul {
  display: flex;
  list-style: none;
  left: 0%;
}
.li {
  margin-left: 1rem;
  margin-bottom: 0px;
  cursor: pointer;
}
.dropdown_services_mob{
  display: none;
  /* padding-left: 1rem; */
  margin-top: 1rem;
}
.dropdown_services ul{
  position: absolute;
  background-color: white;
}
.dropdown_services ul{
  padding-left: 1rem;
  margin-top: 1rem;
}
.down_arrow{
  display: none;
}
.para {
  margin: 0px;
}
.header {
  display: none;
}
.close {
  display: none;
}

@media (max-width: 1220px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
  .dropdown_services{
    display: none;
  }
  .dropdown_services_mob{
    display: block;
  }
  .close {
    display: block;
  }
  .ul {
    /* display: none; */
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    flex-direction: column;
    padding: 0 2rem;
    z-index: 1000;
    background: white;
    margin: 0px;
    transition: all 0.5s ease;
  }
  .down_arrow{
    display: inline-flex;
  }
  .services_li{
    display: flex;
    justify-content: space-between;
  }
  .navbar_container {
    padding: 0 2rem;
  }
  .header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
  }
  .li {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-left: 0px;
  }
}

@media (max-width: 550px) {
}