.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.left{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.right{
    display: flex;
    flex-direction: row;
    width: 30%;
}
.hero{
    width: 424px;
    height: 540px;
}
.aboutus{
    padding: 9px 16px;
    width: 107px;
    height: 36px;
    background: #0053D6;
    border-radius: 92px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
