.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.card_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-bottom: 2px solid black;
    margin-right: 5rem;
    height: 18rem;
}
.card:last-child{
    margin-right: 0px;
}
.bullet{
}
.logo_container{
    display: flex;
    align-items: center;
}
.logo{
    width: 173.21px;
    height: 60.21px;
}
.para{
    margin:0px ;
}