.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.card1,.card2,.card3{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 5rem;
    height: 18rem;
}
.card1{
    border-bottom: 4px solid #26B567;
}
.card2{
    border-bottom: 4px solid #FED130;
}
.card3{
    border-bottom: 4px solid #D248AC;
}
.card:last-child{
    margin-right: 0px;
}
.bullet{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    width: 40px;
    height: 40px;
    background: #0053D6;
    border-radius: 100%;
    color: white;
    font-family: 'Newsreader', serif;
    font-size: 18px;
    margin-bottom: 2rem;
}
.title{
    font-family: 'Newsreader', serif;
    font-size: 40px;
    margin-bottom: 1rem;
}
.description{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}