.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: #F3D951;
    border-radius: 100%;
    font-size: 1.2rem;
    margin-left: 0.5rem;
}
.title{
    display: flex;
    font-family: 'Newsreader', serif;
        font-size: 56px;
    align-items: center;
    /* justify-content: center; */
}
.description{
    
}
.space{
    margin: 2.3rem;
}
.container{
    padding: 0 4rem;
}

@media (max-width: 1220px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
    
}


@media (max-width: 550px) {
}