.container{
    display: flex;
    width: 100%;
    background: #180F23;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 0 4rem;
}
.left{
    width: 30%;
    color: white;
    margin-right: 2rem;
}
.right{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.award{
height: 7rem;
margin-right: 3rem;
margin-bottom: 3rem;
}
.heading{
    font-family: 'Newsreader', serif;
    font-size: 56px;
}
.desc{
    font-size: 18px;
line-height: 23px;

color: rgba(255, 255, 255, 0.6);
font-family: 'DM Sans', sans-serif;
}

@media (max-width: 1220px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
    .container{
        flex-direction: column;
        padding: 0 2rem;
    }
    .left{
        width: 100%;
        margin-right: 0px;
        text-align: center;
        margin: 3rem 0;
    }
    .right{
        width: 100%;

    }
    
}

@media (max-width: 768px) {
    .award{
        margin-right: 0%;
    }
}


@media (max-width: 550px) {
}