.reactMarkDown {

  }
  
  .reactMarkDown ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: disc outside none;
  }
  
  .reactMarkDown ul li {
    margin-left: 2em;
    display: list-item;
    text-align: -webkit-match-parent;
  }


.reactMarkDown h4{
    font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 59px;
}

.reactMarkDown h6{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 30px;
}