.single{
    padding: 0 4rem;
    width: 100%;
}

.img{
    /* width: 100%; */
    margin-bottom: 3rem;
    border-radius: 0px;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center;
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    margin-bottom: 3rem;
}
.desc{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
}

@media (max-width: 768px) {
    .title{
        font-size: 50px;
    }
    .desc{
        font-size: 18px;
    }
}

@media (max-width: 550px) {
    .single{
        padding: 0 2rem;
    }
    .title{
        font-size: 40px;
        margin-bottom: 2rem;
    }
    .desc{
        font-size: 16px;
    }
    .img{
        margin-bottom: 2rem;
        height: 20rem;
    }
}