.learn_more_circle{
    width: 22px;
    height: 22px;
    background: #FED130;
    border-radius: 100%;
    text-align: center;
}
.learnmore{
    display: flex;
    align-items: center;
}
.lmtext{
    margin-right: 0.5rem;
}
.more_news_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #0053D6;
    border-radius: 100%;
}
.mntext{
    margin-right: 0.5rem;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}