.container {
  text-align: center;
  margin: 1rem;
}
.img {
  width: 256px;
  height: 256px;
}
.name {
  font-family: "DM Sans" !important;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.6);
}
.desc {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}
