.ques_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    margin-bottom: 1.3rem;
}
.ques{
    width: 80%;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background: #D248AC;
    border-radius: 100%;
    cursor: pointer;
    color: white;
}
.ans{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.ques_ans_container{
    margin-bottom: 3rem;
    border-bottom: 1px solid #E7E7E7;
}
.ques{
    font-size: 26px;
}
@media (max-width: 1220px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
}

@media (max-width: 768px) {
    .ques_container{
        font-size: 20px;
    }
    .ans{
        font-size: 15px;
    }
    .ques{
        font-size: 20px;
    }
}


@media (max-width: 550px) {
}