.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 4rem;
}
.left{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.right{
    display: flex;
    flex-direction: row;
    width: 30%;
}
.hero{
    width: 424px;
    height: 540px;
}
.aboutus{
    padding: 9px 16px;
    width: 107px;
    height: 36px;
    background: #0053D6;
    border-radius: 92px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 1.8rem;
}
.heading{
    font-family: 'Newsreader', serif;
    font-size: 3rem;
    margin-bottom: 1.3rem;
}
.desc{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}
.space{
    margin: 2.3rem;
}


@media (max-width: 1220px) {
    .heading{
        font-size: 2.7rem;
    }
    .desc{
        font-size: 1rem;
    }
    .hero{
        width: 300px;
        height: 382.075px;
    }
}

@media (max-width: 1024px) {
    .left{
        width: 45%;
    }
}


@media (max-width: 900px) {
}

@media (max-width: 768px) {
    .container{
        flex-direction: column-reverse;
        align-items: center;
        padding: 0 2rem;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        justify-content: center;
        margin-bottom: 3rem;
    }
}

@media (max-width: 550px) {
    .heading{
        font-size: 40px;
    }
}