.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-family: 'Newsreader', serif;
    font-size: 64px;
    width: 75%;
    margin-bottom: 1.3rem;
}
.content{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1.3rem;
}
.button_container{
    display: flex;
}
.explore{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 132px;
    height: 46px;
    background: #FED130;
    border-radius: 45px;
    outline: none;
    box-shadow: none;
    margin-right: 0.7rem;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}
.services{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 137px;
    height: 46px;
    border: 1px solid #000000;
    border-radius: 45px;
    outline: none;
    box-shadow: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}
.videoplayer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0rem;
}
.btn_text{
    margin-right: 0.5rem;
}