.container {
  width: 100%;
  padding: 0 4rem;
}
.heading {
  font-family: 'Newsreader', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  /* margin-bottom: 3rem; */
  margin-top: 1rem;
}
.desc {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;

  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
}
.info,
.info2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.left {
  margin-right: 3rem;
  width: 50%;
  /* height: 293px; */
}
.right {
  width: 520px;
  height: 477px;
  text-align: center;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}
.profile_card {
  margin-right: 1rem;
}
.space {
  margin: 3rem;
}
.hero {
  width: 424px;
  height: 540px;
}
.img {
  width: 100%;
  height: 100%;
}
.left_info2 {
  width: 520px;
  height: 477px;
  text-align: center;
}
.right_info2 {
  margin-left: 3rem;
  width: 50%;
}
.hero_img {
  width: 100%;
}
.history_heading_container {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.heading_container {
  width: 100%;
  /* text-align: center; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 1rem 0;
}
.history_heading, .team {
  width: 80%;
  font-family: 'Newsreader', serif;
  font-style: normal;
  font-weight: 200;
  font-size: 44px;
}
.history_desc {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

@media (max-width: 1220px) {
  .hero {
    width: 300px;
    height: 382.075px;
  }
  .right,.left_info2 {
    width: 400px;
    height: 367px;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 900px) {
  .right ,.left_info2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img{
    width: 400px;
    height: 367px;
  }
  .container {
    padding: 0 2rem;
  }
  .info {
    flex-direction: column-reverse;
  }
  .info2 {
    flex-direction: column;
  }
  .left{
    width: 100%;
    margin-right: 0px;
  }
  .space {
    margin: 2rem;
  }
  .right_info2 {
    width: 100%;
    margin-left: 0px;
  }
  .heading, .team {
    font-size: 40px;
    margin-bottom: 1rem;
  }
  .desc {
    font-size: 18px;
  }
  .history_desc {
    font-size: 18px;
  }
  .history_heading {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .heading{
    font-size: 40px;
  }
  .history_heading{
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .space {
    margin: 1rem;
  }
  .heading ,.team {
    font-size: 35px;
  }
  .desc {
    font-size: 18px;
  }
  .history_desc {
    font-size: 18px;
  }
  .history_heading {
    font-size: 28px;
  }
  .img{
    width: 321px;
    height: 321px;
  }
  .container{
    padding: 0 1rem;
  }
}
