/* forms css */

fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	margin: 1rem 0;
}

label {
	font-size: 0.875rem;
	margin-bottom: 0.25rem;
	color: black;
}

input[type='radio'] {
	appearance: none;
	display: grid;
	place-content: center;
	width: 1.5rem;
	height: 1.5rem;
	border: var(--border-grey);
	border-radius: 50%;
	font: inherit;
	color: currentColor;
	box-shadow: 0 0 0.5rem black inset;
	cursor: pointer;
	transform: translateY(-0.075rem);
}
input[type='radio']::before {
	content: '';
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: black;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
}
input[type='radio']:checked::before {
	transform: scale(1);
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='datetime-local'],
select,
textarea {
	width: 100%;
	padding: 1rem;
	border: none;
	border-radius: 0.375rem;
	font-size: 1rem;
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
	outline: none;
}
textarea {
	resize: none;
	height: 175px;
}
input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='datetime-local']:focus,
select:focus,
textarea:focus {
	color: black;
	outline: 2px solid rgba(0, 153, 255, 0.6);
}
input[type='text']::placeholder,
input[type='password']::placeholder,
input[type='email']::placeholder,
input[type='datetime-local']::placeholder,
input[type='number']::placeholder,
textarea::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

select {
	appearance: none;
	background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
	background-position: calc(100% - 21px) 24px, calc(100% - 15px) 24px;
	background-size: 6px 6px, 6px 6px, 1.5em 1.5em;
	background-repeat: no-repeat;
}
option {
	background: rgb(32, 32, 32);
}

.error-input {
	border-color: rgba(255, 0, 0, 0.5) !important;
}
.error-text {
	margin-top: 0.25rem;
	font-size: 0.8rem;
	color: rgba(255, 0, 0, 0.8);
}
.error-text-big {
	font-size: 0.9rem;
	color: rgba(255, 0, 0, 0.8);
}

@media (max-width: 575.98px) {
	label {
		font-size: 0.8rem;
	}

	input[type='text'],
	input[type='number'],
	input[type='password'],
	select {
		font-size: 0.9rem;
	}
}
