@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


html,
body {
  max-width: 100%;
  /* width: 100%; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
}

* {
  box-sizing: border-box;
}



/* swiper */
.slick-slide{
  display: flex !important;
  justify-content: center !important;
}
ul{
  list-style: none;
}
li{
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
/* li:last-child{
  margin-bottom: 0px;
} */
p{
  margin:0px;
}
.swiper {
	width: 100%;
	height: 100%;
	align-items: stretch;
	display: flex;
  padding: 0 3rem;
  }
  
  .swiper-slide {
	text-align: left;
	font-size: 18px;
	background: #fff;
	display: flex;
	align-items: stretch;
  justify-content: center;
  height: auto !important;
  /* width: 400px !important; */
  /* margin-right: 70px !important; */
  }
  
  .swiper-slide img {
	display: block;
	object-fit: cover;
  }
  
  .swiper-button-next, .swiper-button-prev {
	color: black !important;
	width: 20px;
  }