.container{
    display: flex;
    width: 100%;
    background: #180F23;
    align-items: center;
    justify-content: center;
    height: 60vh;
}
.left{
    width: 30%;
    color: white;
    margin-right: 2rem;
}
.right{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.award{
    width: 141.62px;
height: 141.62px;
margin-right: 3rem;
margin-bottom: 3rem;
}
.heading{
    font-family: 'Newsreader', serif;
    font-size: 64px;
}
.desc{
    font-size: 18px;
line-height: 23px;

color: rgba(255, 255, 255, 0.6);
font-family: 'DM Sans', sans-serif;
}